MessengerClient/MessengerClient.Dal/Service References/MessengerService/MessengerServerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessengerServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMessengerServerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessengerDal" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessengerServerService_UploadUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadUserData" />
  </wsdl:message>
  <wsdl:message name="IMessengerServerService_UploadUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerServerService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IMessengerServerService_FindUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUser" />
  </wsdl:message>
  <wsdl:message name="IMessengerServerService_FindUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerServerService_UploadingUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadingUserData" />
  </wsdl:message>
  <wsdl:message name="IMessengerServerService_UploadingUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadingUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerServerService_LoadMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LoadMessage" />
  </wsdl:message>
  <wsdl:message name="IMessengerServerService_ContactsStatusUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ContactsStatusUpdate" />
  </wsdl:message>
  <wsdl:portType name="IMessengerServerService">
    <wsdl:operation name="UploadUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerServerService/UploadUserData" message="tns:IMessengerServerService_UploadUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerServerService/UploadUserDataResponse" message="tns:IMessengerServerService_UploadUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerServerService/SendMessage" message="tns:IMessengerServerService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerServerService/FindUser" message="tns:IMessengerServerService_FindUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerServerService/FindUserResponse" message="tns:IMessengerServerService_FindUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadingUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerServerService/UploadingUserData" message="tns:IMessengerServerService_UploadingUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerServerService/UploadingUserDataResponse" message="tns:IMessengerServerService_UploadingUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerServerService/LoadMessage" message="tns:IMessengerServerService_LoadMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContactsStatusUpdate">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerServerService/ContactsStatusUpdate" message="tns:IMessengerServerService_ContactsStatusUpdate_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMessengerServerService" type="tns:IMessengerServerService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMessengerServerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UploadUserData">
      <soap12:operation soapAction="http://tempuri.org/IMessengerServerService/UploadUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessengerServerService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap12:operation soapAction="http://tempuri.org/IMessengerServerService/FindUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadingUserData">
      <soap12:operation soapAction="http://tempuri.org/IMessengerServerService/UploadingUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessengerServerService/LoadMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContactsStatusUpdate">
      <soap12:operation soapAction="http://tempuri.org/IMessengerServerService/ContactsStatusUpdate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessengerServerService">
    <wsdl:port name="NetTcpBinding_IMessengerServerService" binding="tns:NetTcpBinding_IMessengerServerService">
      <soap12:address location="net.tcp://localhost:8081/MessengerServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MessengerServer</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-KKS42US\Владимир</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>